:root{
    --dark: #000000;
    --darkBlue:#14213d;
    --backGColor:#e5e5e5;;
    --laranja: #fca311;
    --light: #ffffff;
    --dark: #000000;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Amatic SC", sans-serif;
    scroll-behavior: smooth;
}

.amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

nav {
    position: fixed;
    background-color: var(--backGColor);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: var(--darkBlue) 0px 5px 15px;
}

nav a {
    color: var(--dark);
    text-decoration: none;
}

section {
    min-height: 100vh;
    padding-top: 50px;
}

#s1 {
    background-color: var(--backGColor);
    min-height: 100vh;
    padding-top: 50px;
}

#s2 {
    background-color: var(--backGColor);
    min-height: 100vh;
    padding-top: 50px;
}

#s3 {
    background-color: var(--backGColor);
    min-height: 100vh;
    padding-top: 50px;
}

#s4 {
    background-color: var(--backGColor);
    min-height: 100vh;
    padding-top: 50px;
}

#s5 {
    background-color: var(--backGColor);
    min-height: 100vh;
    padding-top: 50px;
}